<div class="Equipment">
  <img
    class="Equipment__image"
    [src]="equipamento.image"
    [alt]="equipamento.name"
  />
  
  <span class="Equipment__name">{{ equipamento.name }}</span>
  <span class="Equipment__rating">{{ equipamento.rating }}</span>
  <span class="Equipment__price">{{ equipamento.price }}</span>
  <span [ngClass]="{ 'available': equipamento.isAvailable, 'unavailable': !equipamento.isAvailable }">
    {{ equipamento.isAvailable ? "DISPONÍVEL" : "ESGOTADO" }}
</span>
  <button (click)="clickHandler()">DETALHES</button>
</div>
